/**index.scss**/

.section {
  margin-bottom: 30rpx;
  padding: 0 20rpx;
}

.cate-tit {
  margin-bottom: 20rpx;
  padding-left: 30rpx;
  font-size: 28rpx;
  border-left: 2px solid #409EFF;
}

.art-item {
  margin-bottom: 20rpx;
}