/* pages/hot/hot.scss */
.container {
  padding-left: 50rpx;
}
.art-item {
  margin-bottom: 20rpx;
  display: flex;
  justify-content: start;
  vertical-align: middle;
  .num-key {
    display: block;
    margin-right: 10rpx;
    height: 60rpx;
    line-height: 60rpx;
    font-size: small;
    color: #a2a2a2;
  }
}

