@import './_variables';
@import './base';
$grey-color: #888;

// color
@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
      color: $color;
    }
}
// font-size
@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}
// margin
@each $valKey, $val in $ps-sizes {
    .mb#{$valKey} {
        margin-bottom: $val * $base-ps-size;
    }
    .mt#{$valKey} {
        margin-top: $val * $base-ps-size;
    }
    .ml#{$valKey} {
        margin-left: $val * $base-ps-size;
    }
    .mr#{$valKey} {
        margin-right: $val * $base-ps-size;
    }
}
// padding
@each $valKey, $val in $ps-sizes {
    .pb#{$valKey} {
        padding-bottom: $val * $base-ps-size;
    }
    .pt#{$valKey} {
        padding-top: $val * $base-ps-size;
    }
    .pl#{$valKey} {
        padding-left: $val * $base-ps-size;
    }
    .pr#{$valKey} {
        padding-right: $val * $base-ps-size;
    }
}

// 按钮
.btn {
    width: 100px;
    height: 30px;
    background: rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}